/*
.preloader{
	background-image: url(/css/preloader/spiffy.png);
	background-position: 0;
	background-repeat-x: none; 
	display: none;
	width: 68px;
	height: 68px;
	position: absolute;
	left: 46%;
	top: 37%;
	-webkit-animation: play 0.4s infinite;
	animation: play 0.4s infinite;
}
.preloader.upd{
	position: static;
}
.preloader_wrap {
	display: none;
	background-color: rgb(0,0,0);
	opacity: 0.2;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
@-webkit-keyframes play {
	0% { background-image: url(/css/preloader/0.png); } 
	6,25% { background-image: url(/css/preloader/0.png); } 
	12,5% { background-image: url(/css/preloader/1.png); }
	18,75% { background-image: url(/css/preloader/2.png); }
	25% { background-image: url(/css/preloader/3.png); } 
	31,25% { background-image: url(/css/preloader/4.png); }
	37,5% { background-image: url(/css/preloader/5.png); }
	43,75% { background-image: url(/css/preloader/6.png); } 
	50% { background-image: url(/css/preloader/7.png); }
	56,25% { background-image: url(/css/preloader/8.png); }
	62,5% { background-image: url(/css/preloader/9.png); } 
	68,75% { background-image: url(/css/preloader/10.png); }
	75% { background-image: url(/css/preloader/11.png); }
	81,25% { background-image: url(/css/preloader/12.png); } 
	87,5% { background-image: url(/css/preloader/13.png); }
	93,75% { background-image: url(/css/preloader/14.png); }
	100% { background-image: url(/css/preloader/15.png); }
}
@keyframes play {
	6,25% { background-image: url(/css/preloader/0.png); } 
	12,5% { background-image: url(/css/preloader/1.png); }
	18,75% { background-image: url(/css/preloader/2.png); }
	25% { background-image: url(/css/preloader/3.png); } 
	31,25% { background-image: url(/css/preloader/4.png); }
	37,5% { background-image: url(/css/preloader/5.png); }
	43,75% { background-image: url(/css/preloader/6.png); } 
	50% { background-image: url(/css/preloader/7.png); }
	56,25% { background-image: url(/css/preloader/8.png); }
	62,5% { background-image: url(/css/preloader/9.png); } 
	68,75% { background-image: url(/css/preloader/10.png); }
	75% { background-image: url(/css/preloader/11.png); }
	81,25% { background-image: url(/css/preloader/12.png); } 
	87,5% { background-image: url(/css/preloader/13.png); }
	93,75% { background-image: url(/css/preloader/14.png); }
	100% { background-image: url(/css/preloader/15.png); }
}

@-webkit-keyframes play {
	0% { background-position: 0 68px; } 
	5,55% { background-position: 0 136px; } 
	11,1% {  background-position: 0 204px; }
	16,65% {  background-position: 0 272px; }
	22,2% {  background-position: 0 340px;} 
	27,75% {  background-position: 0 408px; }
	33,3% { background-position: 0 476px; }
	38,85% { background-position: 0 544px;} 
	44,4% { background-position: 0 612px; }
	49,95% { background-position: 0 680px; }
	55,5% { background-position: 0 748px;} 
	61,05% { background-position: 0 816px; }
	66,6% { background-position: 0 884px; }
	72,15% { background-position: 0 952px;} 
	77,7% { background-position: 0 1020px; }
	83,25% { background-position: 0 1088px; }
	88,8% { background-position: 0 1155px; }
	94,35% { background-position: 0 1224px; }
	100% { background-position: 0 1292px; }
}
@keyframes play {
	0% { background-position: 0 68px; } 
	5,55% { background-position: 0 136px; } 
	11,1% {  background-position: 0 204px; }
	16,65% {  background-position: 0 272px; }
	22,2% {  background-position: 0 340px;} 
	27,75% {  background-position: 0 408px; }
	33,3% { background-position: 0 476px; }
	38,85% { background-position: 0 544px;} 
	44,4% { background-position: 0 612px; }
	49,95% { background-position: 0 680px; }
	55,5% { background-position: 0 748px;} 
	61,05% { background-position: 0 816px; }
	66,6% { background-position: 0 884px; }
	72,15% { background-position: 0 952px;} 
	77,7% { background-position: 0 1020px; }
	83,25% { background-position: 0 1088px; }
	88,8% { background-position: 0 1155px; }
	94,35% { background-position: 0 1224px; }
	100% { background-position: 0 1292px; }
}
*/

.preloader {
	background-color: #928E8E;
	font-size: 10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ffffff;
	background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	position: relative;
	-webkit-animation: load 1.4s infinite linear;
	animation: load 1.4s infinite linear;
}
.preloader:before {
	width: 50%;
	height: 50%;
	background: #928E8E;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}
.preloader:after {
	background: #FFF;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}