@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400,500,600,700&subset=latin,cyrillic-ext,cyrillic);

* {
	box-sizing: border-box;
	color: #3a4453;
	font-family: 'Open Sans';
}
html {
	background: #F0F3F7;
	height: 100%;
	min-height: 100%;
}
body {
	background: #F0F3F7;
	height: 100%;
	min-height: 100%;
}
h5 {
	color: #697887;
	font: 600 19px 'Open Sans';
	margin: 0;
	overflow: hidden;
	text-align: left;
}
.head h5 {
	margin-bottom: 15px;
}
h5 .btn {
	float: right;
}
h5 .btn + .btn {
	margin-right: 20px;
}
a {
	color: #778799;
	font: 400 14px 'Open Sans';
}
a:focus {
	text-decoration: none;
}
.land-btn.btn {
	height: 30px;
	padding: 4px 20px;
}
label {
	color: #8694a4;
	display: block;
	font: 400 15px "Open Sans";
	margin: 5px 0 7px;
}
p {
	color: #3a4453;
}
.inline-block {
	display: inline-block;
}
#content {
	min-height: 100%;
}
#promovideo-form {
	margin-bottom: 0;
}
.block {
	background-color: #FFF;
	box-shadow: 0px 0px 6px rgba(139, 157, 175, 0.1);
	padding: 20px;
}
.full-page-block {
	min-height: calc( 100% - 100px - 40px );
}
#promobanns-form {
	margin-bottom: 0;
}
.promovideo-block {
	width: calc(50% - 30px);
	float: right
}
.promoban-block {
	width: 50%;
	float: left;
}
.promoban-block input[type="submit"],
.promovideo-block  input[type="submit"] {
	margin-top: 5px;
}
.table-row {
	margin-bottom: 20px;
}
.table-row:last-child {
	margin-bottom: 0;
}
.table-row .span6 {
	width: calc(50% - 10px);
}
.table-row .span6:last-child {
	margin-left: 20px;
	width: calc(50% - 10px);
}

.underlist-button {
	margin-top: 13px;
	margin-bottom: 10px;
}
.underlist-button.underlist-button-inline {
	display: inline-block;
	margin-right: 10px;
}
.text-block {
	margin-top: 30px;
}
.grid-view .empty {
	font-style: normal;
}
.successMessage.info {
	color: #FFF;
	font: 400 18px 'Open Sans';
	margin: 15px 0;
	border-radius: 5px;
	padding: 10px 25px;
	background: #74d078;
	border: 1px solid #63bb67;
}

/* ===*===*===*=== левое меню ===*===*===*=== */
#sidebar {
	background: #FFF;
	height: calc( 100% - 80px - 20px );
	left: 20px;
	overflow: auto;
	position: fixed !important;
	box-shadow: 0px 0px 6px rgba(139, 157, 175, 0.1);
	top: 80px;
	width: 240px;
	z-index: 2;
	-webkit-transition: all 0.25s ease-in;
	-moz-transition:all  0.25s ease-in;
	transition: all 0.25s ease-in;
}
.nav.for-logo {
	background-color: #FFF;
	height: 60px;
	text-align: center;
	padding: 15px 10px 15px 0;
	width: 240px;
	margin-right: 20px;
}
#mob-menu-trigger {
	display: none;
	cursor: pointer;
	height: 18px;
	margin-top: 20px;
	float: left;
	width: 18px;
}
.logo {
	color: #3aace2;
	display: block;
	width: 237px;
	margin-top: -6px;
	text-align: center;
	font: 600 26px 'Calibri';
	text-decoration: none;
	letter-spacing: 0.1px;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;
	text-transform: uppercase;
}
.logo img {
	display: inline-block;
	width: 151px;
}

.clear {
	clear: both;
}
#menu {
	list-style: none;
	margin: -2px 0 0 0;
}
#menu li {
	height: 50px;
}
#menu a {
	color: #3A4453;
	height: 100%;
	display: block;
	padding: 13px 0 13px 20px;
	font: 300 15px 'Open Sans';
	width: 100%;
	letter-spacing: -0.3px;
	vertical-align: top;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;
}
#menu a svg {
	width: 17px;
	height: 17px;
	margin-right: 13px;
	margin-bottom: -2px;
}
#menu .news-menu-point svg {
	margin-bottom: -4px;
}
#menu .active a {
	color: #FFF;
	background-color: #3aace2;
	text-decoration: none;
}
#menu li:not(.active):not(:active) a:hover {
	color: #3A4453;
	background-color: #f8f9fb;
	text-decoration: none;
}
#menu li a:active {
	background-color: #3aace2;
	color: #FFF;
}
#menu li a svg rect, #menu li a svg polygon, #menu li a svg path {
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;
}
#menu li a:active svg rect, #menu li a:active svg polygon, #menu li a:active svg path {
	fill: #FFF;
}
#menu li.active a svg rect, #menu li.active a svg polygon, #menu li.active a svg path {
	fill: #FFF;
}
#menu .submenu a {
	color: #3a4453;
}
#menu .submenu.active a {
	color: #FFF;
}
#menu .submenu a svg {
	width: 13px;
	height: 13px;
	margin-left: 3px;
	margin-top: 3px;
	margin-right: 13px;
}
.accordion_mnu {
	border-top: 2px solid #f0f3f7;
}
.accordion_mnu a i {
	background-position: 0 0;
	height: 30px;
	width: 30px;
}
.icons_wrap {
	display: inline-block;
	min-width: 42px;
}
.icon-pencil {
	background-image: url( ../images/icons/icon-edit.png );
	background-position: 0 0;
	height: 18px;
	width: 18px;
	margin: 0 5px 0 0;
}
.icon-trash {
	background-image: url( ../images/icons/icon-delete.png );
	background-position: 0 0;
	height: 18px;
	width: 18px;
	margin: 0 0 0 0;
}
.icon-landings {
	background-image: url( ../images/icons/Landings.svg );
	background-size: 20px 20px;
}
.icon-clients {
	background-image: url( ../images/icons/Clients.svg );
	background-size: 20px 20px;
}
.icon-partners {
	background-image: url( ../images/icons/Partners.svg );
	background-size: 20px 20px;
}
.icon-landings {
	background-image: url( ../images/icons/Landings.svg );
	background-size: 20px 20px;
}
.icon-landings {
	background-image: url( ../images/icons/Landings.svg );
	background-size: 20px 20px;
}
.accordion_mnu .icon-lists {
	background-image: url( ../images/icons/icon-lists.png );
}
.accordion_mnu .icon-persons {
	background-position: 0px 2px;
	background-image: url( ../images/icons/icon-persons.png );
}
.accordion_mnu .icon-plus {
	background-position: 0px 2px;
	background-image: url( ../images/icons/icon-plus.png );
}
.accordion_mnu .icon-portfolio {
	background-image: url( ../images/icons/icon-portfolio.png );
}
.accordion_mnu .icon-cam {
	background-position: 0px 4px;
	background-image: url( ../images/icons/icon-cam.png );
}
.accordion_mnu .icon-news {
	background-image: url( ../images/icons/icon-news.png );
}
.accordion_mnu .icon-dollar {
	background-image: url( ../images/icons/icon-dollar.png );
}

/* ===*===*===*=== верхнее меню ===*===*===*=== */
.navbar-fixed-top, .navbar-fixed-bottom {
	z-index: 3;
	height: 60px;
	box-shadow: 0px 0px 6px rgba(139, 157, 175, 0.1);
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	border: none;
	box-shadow: none;
	background: #FFF;
	height: 60px;
	padding-left: 20px;
	padding-right: 20px;
}
.top-nav {
	height: 100%;
}
.navbar .nav {
}
.navbar .nav.landing_select {
	margin-top: 14px;
	height: auto;
	position: relative;
}

.nav.top_menu_mobile {
	display: none;
}
#landing_select {
	border-color: #d0d5dc;
	color: #7b8997;
	width: auto;
	height: 32px;
	padding-right: 20px;
}
#landing_select option {
	color: #7b8997;
}
.landing_select label {
	/*background: #FFF url(/img/arrow2.svg) no-repeat;*/
	background-size: 11px;
	height: 10px;
	margin: 0;
	padding: 2px;
	position: absolute;
	right: 6px;
	top: 12px;
	width: 18px;
}
.landing_select label img {
	width: 100%;
	vertical-align: top;
}
.container-fluid {
	height: 100%;
	min-height: 100%;
}
.container-fluid .nav.pull-right {
	height: 100%;
}
.container-fluid .nav li {
	height: 100%;
}
.container-fluid .nav li a {
	color: #3A4453;
	height: 100%;
	padding: 18px 20px 13px;
	font: 300 15px 'Open Sans';
	letter-spacing: 0.2px;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;
}
.container-fluid .nav li a:focus {
}
.container-fluid .nav li a:hover {
	background-color: #f8f9fb;
	text-decoration: none;
}
.container-fluid .nav li a:active {
	background-color: #3aace2;
	color: #FFF;
}
.container-fluid .nav li.active a {
	background-color: #3aace2;
	box-shadow: none;
	color: #FFF;
}
.container-fluid .nav li.active a:hover {
	background-color: #3aace2;
	box-shadow: none;
	color: #FFF;
}
.nots {
	background-color: #63bb67;
	border-radius: 3px;
	color: #FFF;
	position: relative;
	font: 600 14px 'Open Sans';
	padding: 6px 8px;
	margin-right: 13px;
}
.nots:after {
	content: "";
	position: absolute;
	right: -5px;
	top: 12px;
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-left: 6px solid #63bb67;
	border-bottom: 4px solid transparent;
}
.not-block a:hover {
	text-decoration: underline;
}
.container-fluid .nav li.active a .nots, .container-fluid .nav li.active a:hover .nots {
	background-color: #FFF;
	color: #63BB67;
}
.container-fluid .nav li.active a .nots:after, .container-fluid .nav li.active a:hover .nots:after {
	border-left-color: #FFF;
}
.container-fluid .nav li a:active .nots, .container-fluid .nav li a:active:hover .nots {
	background-color: #FFF;
	color: #63BB67;
}
.container-fluid .nav li a:active .nots:after, .container-fluid .nav li a:active:hover .nots:after {
	border-left-color: #FFF;
}
.container-fluid .nav li.active a:focus .nots, .container-fluid .nav li.active a:focus:hover .nots {
	background-color: #FFF;
	color: #63BB67;
}
.container-fluid .nav li.active a:focus .nots:after, .container-fluid .nav li.active a:focus:hover .nots:after {
	border-left-color: #FFF;
}
/* ===*===*===*=== главное содержимое ===*===*===*=== */
#main-content {
	padding-top: 60px;
	margin-left: 260px;
}
.breadcrumbs {
	background-color: #f0f3f7;
	padding: 25px 60px 20px;
}
.breadcrumbs, .breadcrumbs a, .breadcrumbs span {
	color: #778799;
	font: 400 14px 'Open Sans';
}
.main-content {
	background-color: #f0f3f7;
	padding: 20px;
	text-align: initial;
}
.version-row {
	margin-top: 50px;
}
.version-row .form-block-header {
	margin: 0;
}
.version-row .update-block {
	margin-top: 20px;
}
.update-block p {
	color: #8694a4;
	font: 400 15px 'Open Sans';
	margin-bottom: 10px;
}
.update-block a{
	margin-bottom: 15px;
}
#has-update-check {
	background-color: #dee6f1;
	color: #576675;
	font: 400 14px 'Open Sans';
	margin-right: 5px;
	padding: 8px 17px;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;

}
#has-update-check:hover {
	background-color: #CDD8E6;
}

.update-block .btn {
	padding: 8px 17px;	/*margin-bottom: 10px;*/	
}
.btn.pull-right {
	margin-right: -2px;
}

/* ===*===*===*=== таблицы ===*===*===*=== */
.grid-view {
	padding-bottom: 0;
	overflow-x: auto;
	padding-top: 0;
}
.grid-view table.items th a.asc,
.grid-view table.items th a.desc {
	background: rgba(0,0,0,0);
}
#main-content table {
	border: none;
	width: 100%;
}
#user-grid table {

}
#referals-grid table {
	/*table-layout: fixed;*/
}
#landings-grid table {
	/*table-layout: fixed;	*/
}
.index-table table {
	/*table-layout: fixed;*/
}
#main-content .index-table table tr td,
#main-content .index-table table tr th {
	/*width: 25%;	*/
	padding: 13px 10px 11px;
	white-space: nowrap;
}
/* Шапки сайта */
#main-content th {
	background: #3aace2;
	background-image: url(/img/header_border.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;
	background-size: 2px 50%;
	border: none;
	cursor: default;
	font: 600 14px 'Open Sans';
	padding: 13px 10px;
	position: relative;
	text-align: left;
}
#main-content th:last-child {
	background-image: none;
}
#main-content .purple th {
	background-color: #8877a9;
}
#main-content .darkblue th {
	background-color: #67809F;
}
#main-content .red th {
	background-color: #E95E58;
}
#main-content .orange th {
	background-color: #FF9148;
}
#main-content .green th {
	background-color: #63bb67;
}
.width20 {
	width: 30px;
}
.width20 input {
	width: 20px !important;
}
.width40 input {
	width: 40px !important;
}
.width50 {
	width: 50px;
}
.width60 {
	width: 60px;
}
.width60 .dropdown{
	width: 60px;
}
.width65 {
	width: 65px;
}
.width70 {
	width: 70px;
}
.width80 {
	width: 80px;
}
.width80 .dropdown{
	width: 80px;
}
.width80 input{
	width: 80px !important;
}
.width90 {
	width: 90px;
}
.width90 .dropdown{
	width: 90px;
}
.width95 {
	width: 95px;
}
.width100 {
	width: 100px;
}
.width100 .dropdown{
	width: 100px;
}
.width105 {
	width: 105px;
}
.width110 {
	width: 110px;
}
.width115 {
	width: 115px;
}
.width120 {
	width: 120px;
}
.width120 .dropdown{
	width: 120px;
}
.width125 {
	width: 125px;
}
.width150 {
	width: 150px;
}
.width155 {
	width: 155px;
}
.width160 {
	width: 160px;
}
.width180 {
	width: 180px;
}
.width270 {
	width: 270px;
}
.width595 {
	width: 595px;
}
.width250 {
	width: 250px;
}
.span3.width250 {
	width: 250px;
}
.span3.width250 {
	margin-left: 7%;
}
.row-fluid .update-block {
	width: 375px;
	margin-bottom: 40px;
}
.settings-block {
	display: inline-block;
}
.settings-col {
	width: 270px;
	margin-left: 100px;
	display: inline-block;
	vertical-align: top;
}
.settings-col:first-child {
	margin-left: 0;
}

.center_icon {
	display: block;
	margin: 0 auto;
	text-align: center;
}
.actionColumn {
	text-align: center;
}
#Referrals_status {
	margin-bottom: -1px;
	width: 100%;
}
#main-content .filters td {
	padding: 8px 15px 8px;
}
#main-content .filters input {
	border-color: #d0d5dc;
	padding-top: 4px;
	padding-bottom: 3px;
	margin-bottom: 0;
}

/* Фокус на полях ввода */
#main-content .filters input:focus {
	border-color: #3aace2;
}
#main-content .purple .filters input:focus {
	border-color: #8877a9;
}
#main-content .darkblue .filters input:focus {
	border-color: #67809F;
}
#main-content .red .filters input:focus {
	border-color: #e95e58;
}
#main-content .orange .filters input:focus {
	border-color: #FF9148;
}
#main-content .green .filters input:focus {
	border-color: #63bb67;
}
#main-content tr .notification-id-col {
	width: 100px;
}
#main-content th {
	color: #FFF;
	text-align: center;
}
#main-content th a {
	color: #FFF;
	font: 600 14px 'Open Sans';
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;
}
#main-content th a:hover {
	/*color: rgba(0, 0, 0, 0.3);*/
}
#main-content th:last-child:after {
	width: 0;
}
#main-content th:first-child {
	border-radius: 4px 0 0 4px;
}
#main-content th:last-child {
	border-radius: 0 4px 4px 0;
}
#main-content tr {
	background: (0, 0, 0, 0);
	border: none;
}
#main-content tr td {
	text-align: center;
}
#main-content .has-filter tr:nth-child(odd) td {
	background: #f0f3f7;
}
#main-content .has-filter tr:nth-child(even) td {
	background: #FFF;
}
#main-content tr:nth-child(odd) td {
	background: #FFF;
}
#main-content tr:nth-child(even) td {
	background: #f0f3f7;
}
#main-content tr.filters input {
	width: calc(100% - 25px);
}
#main-content tr.filters input[name="User[id]"] {
	min-width: 15px;
	padding-left: 5px;
	padding-right: 5px;
}
#main-content td {
	border: none;
	color: #8694a4;
	font: 500 14px 'Open Sans';
	padding: 13px 10px 11px;
	position: relative;
	text-align: left;
}
#main-content td:after {
	background-color: #e0e4ea;
	content: "";
	position: absolute;
	right: 0;
	top: 30%;
	height: 20px;
	width: 2px;
}
#main-content td:last-child:after {
	width: 0;
}
#main-content td a {
	color: #8694a4;
	font: 500 14px 'Open Sans';
}
#main-content td:first-child {
	border-radius: 4px 0 0 4px;
}
#main-content td:last-child {
	border-radius: 0 4px 4px 0;
}
#main-content td:only-child {
	border-radius: 4px;
}
.land_icon {
	width: 50px;
}
.grid-view-loading {
	background: url(/img/loading.gif);
	background-position: left 96%;
	background-repeat: no-repeat;
}
.grid-view .pager {
	margin-top: 26px;
	text-align: right;
}
.pager .previous > a, .pager .previous > span {
	float: none;
}
ul.yiiPager a, ul.yiiPager a:link, ul.yiiPager a:visited {
	background: #b9c4cf;
}
ul.yiiPager .page a, ul.yiiPager .next a, ul.yiiPager .previous a {
	color: #FFF;
	border: none;
	border-radius: 2px;
	font: 400 14px 'Open Sans';
	padding: 2px 8px 3px;
	transition: all 0.25s ease;
}
ul.yiiPager .next a, ul.yiiPager .previous a {
	padding: 2px 14px 3px;
}
ul.yiiPager .next a {
	margin-left: 2px;
}
ul.yiiPager .previous a {
	margin-right: 2px;
}
ul.yiiPager .page a:hover, ul.yiiPager .next a:hover, ul.yiiPager .previous a:hover {
	background: #3aace2;
}
ul.yiiPager .page.selected a {
	font-weight: 400;
	background: #3aace2;
}
.purple ul.yiiPager .page a:hover, .purple ul.yiiPager .next a:hover, .purple ul.yiiPager .previous a:hover {
	background: #8877a9;
}
.purple ul.yiiPager .page.selected a {
	background: #8877a9;
}
.darkblue ul.yiiPager .page a:hover, .darkblue ul.yiiPager .next a:hover, .darkblue ul.yiiPager .previous a:hover {
	background: #67809F;
}
.darkblue ul.yiiPager .page.selected a {
	background: #67809F;
}
.red ul.yiiPager .page a:hover, .red ul.yiiPager .next a:hover, .red ul.yiiPager .previous a:hover {
	background: #e95e58;
}
.red ul.yiiPager .page.selected a {
	background: #e95e58;
}
.orange ul.yiiPager .page a:hover, .orange ul.yiiPager .next a:hover, .orange ul.yiiPager .previous a:hover {
	background: #FF9148;
}
.orange ul.yiiPager .page.selected a {
	background: #FF9148;
}
.green ul.yiiPager .page a:hover, .green ul.yiiPager .next a:hover, .green ul.yiiPager .previous a:hover {
	background: #63bb67;
}
.green ul.yiiPager .page.selected a {
	background: #63bb67;
}

/* #main-content .purple th {
	background: #8877a9;	
}
#main-content .darkblue th {
	background: #67809F;	
}
#main-content .red th {
	background: #dd5f5a;	
}
#main-content .orange th {
	background: #fe974b;
}
#main-content .green th {
	background: #63bb67;
} */

/* ===*===*===*=== формы ===*===*===*=== */

.form-row {
	margin: 0 0 10px;
}
.form-row .dropdown {
	margin-bottom: 15px;
}
.checkbox-row {
	margin: 0px 0px 0px 0px;
}
.checkbox-row label {
	margin-top: 0;
}
.header-row,
.setting-form label.header-row {
	height: 36px;
	margin-bottom: 0;
}
.form-block-header {
	color: #b9c4cf;
	font: 600 19px 'Open Sans';
	margin: 25px 0 30px;
}
span.required {
	color: #3aace2;
}
.errorMessage {
	color: #dd5f5a;
	font-size: 13px;
}
input[type="file"] {
	position: relative;
	margin-top: 5px;
}
input[type="file"]:focus {
	outline: none;
}
#redactor-droparea input[type="file"]:after {
	display: none;
}
article::before {
	content: attr(data-parent);
}
input[type="submit"], button, .btn {
	border: 1px solid transparent;
	background: #a4b2c1;
	background-color: #a4b2c1;
	border-radius: 2px;
	box-shadow: none;
	color: #FFF;
	font: 500 14px 'Open Sans';
	padding: 10px 20px;
	outline: none;
	text-shadow: none;
	-webkit-transition: all 0.25s ease-in;
	-moz-transition:all  0.25s ease-in;
	transition: all 0.25s ease-in;
}
input[type="submit"]:hover, button:hover, .btn:hover {
	background: #CDD8E6;
	background-color: #CDD8E6;
	color: #FFF;
}
input[type="submit"]:focus, button:focus, .btn:focus {
	outline: none;
}
.btn.btn-success {
	background-color: #63bb67;
	background: #63bb67;
}
.btn.btn-success:hover, .btn.btn-success:focus, .btn.btn-success:active, .btn.btn-success.active, .btn.btn-success.disabled, .btn.btn-success[disabled] {
	background: #89D68E;
}
.btn.btn-primary {
	background-color: #3aace2;
	background: #3aace2;
}
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary.active, .btn.btn-primary.disabled, .btn.btn-primary[disabled] {
	background: #52bdf1;
}
.btn.btn-warning {
	background-color: #ea904e;
	background: #ea904e;
}
.btn.btn-warning:hover, .btn.btn-warning:focus, .btn.btn-warning:active, .btn.btn-warning.active, .btn.btn-warning.disabled, .btn.btn-warning[disabled] {
	background: #ea904e;
}
.btn.btn-danger {
	background-color: #dd5f5a;
	background: #dd5f5a;
}
.btn.btn-danger:hover, .btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger.active, .btn.btn-danger.disabled, .btn.btn-danger[disabled] {
	background: #E04941;
}
.submit-wrap {
	margin-top: 50px;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 5px 10px;
	border: 1px solid #dfe3e8;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font: normal 13px/normal "Open Sans", Helvetica, sans-serif;	/*color: rgba(0,142,198,1);*/
	-o-text-overflow: clip;
	text-overflow: clip;
	background: #FFF;
	box-shadow: none;
	margin-bottom: 5px;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	width: calc(100% - 20px);
}
textarea:hover, input[type="text"]:hover, input[type="password"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="date"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, input[type="number"]:hover, input[type="email"]:hover, input[type="url"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="color"]:hover {
	border: 1px solid #BABDC0;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus {
	border: 1px solid #BABDC0;
	box-shadow: none;
}
input[type="checkbox"], input[type="radio"] {
	position: relative;
	bottom: 2px;
	display: none;
}
input[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
	position: relative;
	padding-left: 35px;
	cursor: pointer;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	font-size: 1rem;
	-webkit-transition: .28s ease;
	-moz-transition: .28s ease;
	-o-transition: .28s ease;
	-ms-transition: .28s ease;
	transition: .28s ease;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}
input[type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
	width: 13px;
	height: 13px;
	display: inline-block;
	border-radius: 2px;
	top: 0px;
	margin-right: 10px;
	position: relative;
	margin-bottom: -1px;

}
input[type="checkbox"]:not(:checked) + label {
	border: 1px solid #BABDC0;
}
input[type="checkbox"]:checked + label {
	border: 1px solid #5fc564;
}
input[type="checkbox"]:checked + label:before {
	content: "";
	height: 3px;
	position: absolute;
	width: 8px;
	top: 2px;
	left: 1px;
	border-left: 1px solid #5fc564;
	border-bottom: 1px solid #5fc564;
	transform: rotate(-50deg);
}
.for-standart {
	color: #52bdf1;
}
.for-extended {
	color: #5fc564;
}
.for-vip {
	color: #fe974b;
}




/* ============ footer ================ */

footer.block {
	color: #8694a4;
	padding: 10px 20px;
	font: 300 14px 'Open Sans';
	margin: 0 auto;
	height: 40px; 
	margin-top: 30px;
	margin-bottom: -30px;
    position: relative;
    z-index: 3;
}






/* ===*===*===*=== статистика ===*===*===*=== */
.statistics-row {
}
.statistics-row .span2 {
	width: 15.5%;
	margin-left: 1%;
}
.stats_block {
	width: 103%;
	height: 345px;
	overflow: hidden;
	position: relative;
	margin-bottom: 60px;
}
#stats {
	position: relative;
}
.top_buttons {
	margin-bottom: 25px;
}
.top_buttons button {
	color: #576675;
	font-weight: 400;
	background-color: #dee6f1;
}
.top_buttons button:hover {
	background-color: #D7E2F1;
}
.preloader {
	background: rgba(0, 0, 0, 0);
	border-style: solid;
	border-width: 0;
	border-left-width: 3px;
	border-color: #111;
	border-radius: 30px;
	display: none;
	width: 30px;
	height: 30px;
	position: absolute !important;
	left: 50%;
	top: 40%;
	z-index: 11;
	-webkit-animation: load 1.4s infinite linear;
	animation: load 1.4s infinite linear;
}
.preloader_wrap {
	border-radius: 4px;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background: #111;
	opacity: 0.4;
}
.top_buttons .current_range, 
.chart_buttons .current_type, 
.table_top_buttons .current_range {
	color: #FFF;
	background-color: #3aace2;
	background: #3aace2;
}
.top_buttons .current_range:hover, 
.chart_buttons .current_type:hover,
.table_top_buttons .current_range:hover {
	background-color: #52bdf1;
	background: #52bdf1;
}
.input-daterange {
	background-color: #ffffff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	display: none;
	top: 30px;
	left: 0;
	padding: 10px;
	position: absolute;
	width: 352px;
	z-index: 5;
}
.input-daterange .range {
	width: 100px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 5px;
	margin-top: 0;
	margin-bottom: 0;
	border-radius: 1px;
}
.input-daterange .range_start {
	border-radius: 2px;
	margin-right: 2px;
}
.input-daterange .range_end {
	border-radius: 2px;
	margin: 0 5px;
}
#show_range, #table_show_range {
	background: #eeeeee;
	border: 1px solid #ccc;
	color: #000;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 5px 10px;
	width: 85px;
	margin-bottom: 0;
	font-size: 13px;
}
.datepicker {
	position: absolute;
}
#chart {
	float: left;
	height: 275px;
	overflow: hidden;
	width: 107%;
}
#tooltip {
	background-color: #445061;
	border-radius: 3px;
	color: #FFF;
	display: none;
	font: 600 14px 'Open Sans';
	padding: 3px 6px;
	position: absolute;
}
#tooltip:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
#tooltip:after {
	border-color: rgba(68, 80, 97, 0);
	border-top-color: #445061;
	border-width: 5px;
	margin-left: -5px;
}
#tooltip:before {
	border-color: rgba(68, 80, 97, 0);
	border-top-color: #445061;
	border-width: 9px;
	margin-left: -9px;
}
.table_top_buttons {
	margin: 20px 0 30px;
	position: relative;
}
.table_top_buttons button {
	color: #576675;
	font-weight: 400;
	background-color: #dee6f1;

}
.table_top_buttons button:hover {
	background-color: #D7E2F1;
}
.chart_buttons {
	margin-top: 76px;
}
.chart_buttons button {
    color: #576675;
	background-color: #dee6f1;
	font: 400 14px 'Open Sans';
	display: block;
	margin-bottom: 10px;
	float: right;
	padding: 9px 0 10px;
	width: 190px;
	max-width: 230px;
}
.chart_buttons button:hover {
	background-color: #D7E2F1;
    color: #576675;
}
.statistics-head {
	margin-bottom: 24px;
}
.stats_header {
	background-color: #3aace2;
	background: #3aace2;
	border-radius: 4px;
}
.stats_row.stats_header p {
	color: #FFF;
}
.stats_row {
	font: 600 14px 'Open Sans';
	padding: 12px 0 14px;
}
.stats_row p {
	border-right: 2px solid #37a0d2;
	display: inline-block;
	width: 19%;
	padding: 0 20px;
	text-align: center;
	margin: 0;
	vertical-align: top;
}
.stats_row p:last-child {
	border-right: none;
}
.stats_content p {
	border-right-color: #eeeff2;
	color: #8694a4;
}
.stats_row {
}
.setting-form {
}
.setting-form label {
	font: 400 15px 'Open Sans';
	margin-top: 0;
	margin-bottom: 14px;
}
.setting-form input[type="submit"] {
	margin-top: 30px;
	margin-bottom: 25px;
}
.redactor-toolbar {
	background: #f7f9fb;
	border: 1px solid #d0d5dc;
	border-bottom: none;
	border-radius: 2px 2px 0 0;
	box-shadow: none;
}
.redactor-editor {
	border-radius: 0 0 2px 2px;
	border-color: #d0d5dc;
}
.redactor-box {
	margin-bottom: 0;
}
.re-preview {
	background-image: url(../images/icons/icon-preview.png);
	height: 32px;
	width: 34px;
}
.re-preview:hover {
	background-image: url(../images/icons/icon-preview-hover.png);
}
.news-row {
	margin-bottom: 9px;
}
	.news-row input {
		margin-bottom: 0;
	}
	.news-row label {
		margin-top: 0;
		margin-bottom: 13px;
	}
.modal {
	border-radius: 0px;
	display: none;
	margin-left: 0;
	transform: translateX(-50%);
	width: 800px;
}
#createModal {

}
.modal .modal-content {
	padding: 35px 30px 40px;
}
.modal .close-modal {
  background-color: #3aace2;
  color: #FFF;
  padding: 0;
  font-weight: 300;
  font-size: 38px;
  position: absolute;
  right: -44px;
  top: 0px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 0;
  padding: 0 0 2px 1px;
}
.modal .close-modal:hover {
	background-color: #5FBFED;
}
.modal .modal-title {
	color: #697887;
	font: 600 19px 'Open Sans';
	margin-top: 0;
	margin-bottom: 30px;
}
.modal .modal-content .form-group {
	display: inline-block;
	width: 215px;
	margin-bottom: 6px;
	vertical-align: text-top;
	min-height: 66px;
}
.modal .modal-content .form-group:nth-child(3n+2) {
	margin: 0 40px 6px;
}
.modal .modal-content .form-group .checkbox-wrap {
	margin-top: 33px;
}
.modal .modal-content .form-group label {
	color: #7e8e9f;
	font: 400 14px 'Open Sans';
	margin-bottom: 10px;
}
.modal .modal-content .form-group label.checkbox-label {
	margin-top: 0;
	margin-bottom: 0;
}
.modal .modal-content input, .modal .modal-content select {
	border: 1px solid #c0c6cd;
	box-sizing: border-box;
	height: 32px;
	margin-bottom: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 215px;
}
.modal .modal-content input:focus {
	border-color: #3aace2;
}
.modal .modal-content input[type="submit"] {
	font: 600 14px 'Open Sans';
	border: none;
	background-color: #3aace2;
	height: 40px;
	margin-top: 26px;
}
.modal .modal-content input[type="submit"]:hover {
 	background-color: #52bdf1;
}



@media screen and ( max-width: 1466px ) {
	.table-row {}

	.table-row .span6 {
		width: 100%;
		margin-left: 0;
		margin-bottom: 20px;
	}
	
	.table-row .span6:last-child {
		margin-bottom: 0;
		width: 100%;
		margin-left: 0;
	}
		.table-row .span6 table {
			table-layout: fixed;
		}
			.table-row .span6 table td,
			.table-row .span6 table th {
				width: 33%;
			}
}

@media screen and (max-width: 1279px) {
	body {
		padding: 0;
	}
	#mob-menu-trigger {
		display: block;
	}
	.navbar-fixed-top {
		position: static;
	}
	#sidebar {
		max-height: 0;
		overflow: hidden;
		height: initial;
		margin: 0 auto 0;
		position: static !important;
		text-align: center;
		width: calc(100% - 40px);
	}
	#sidebar.opened {
		max-height: 900px;
		margin: 20px auto 0;
	}
	#main-content {
		margin: 0px auto;
		padding-top: 0;
	}
	#sidebar li a {
		padding: 13px 20px
	}
}

@media screen and (max-width: 1155px) {
	
.row-fluid .update-block {
	margin-top: 60px;
	margin-bottom: 0;
}

}


@media screen and (max-width: 1142px) {
	
	.container-fluid {
		text-align: center;
	}
	.nav.pull-left.for-logo {
		display: none;
	}
	.navbar .nav.landing_select {
		margin-left: 30px;
	}
}
@media screen and (max-width: 1089px) {
	.settings-col {
		display: inline-block;
		margin: 0 auto 30px;
	}
	.settings-col:nth-child(odd) {
		margin-right: 30px;
	}

	.index-table table {
		table-layout: initial;
	}
	.index-table table tr td,
	.index-table table tr th {
		width: initial;	
	}
	.table-row .span6 table {
		table-layout: initial;
	}
		.table-row .span6 table td,
		.table-row .span6 table th {
			width: auto;;
		}
}

@media screen and (max-width: 979px) {
	.navbar-fixed-top .navbar-inner {
		padding: 0 20px;
	}
	.navbar-fixed-top {
		margin-bottom: 0;
	} 
}

@media screen and (max-width: 900px) {
	body {
		padding: 0;
	}
	.navbar .nav.pull-right {
		display: none;
	}
	.nav.pull-left.landing_select,
	.nav.pull-left.top_menu_mobile {
		display: inline-block;
		float: none;
	}
	.nav.pull-left.landing_select {

	}
	.nav.pull-left.top_menu_mobile {

	}
	#mob-menu-trigger {
		display: block;
	}
	.navbar-fixed-top {
		position: static;
		/*margin: 0 0 40px 0;*/
	}
	#sidebar {
		max-height: 0;
		overflow: hidden;
		height: initial;
		margin: 0 auto;
		position: static !important;
		text-align: center;
		width: calc(100% - 40px);
	}
	#sidebar.opened {
		max-height: 900px;
		margin: 20px auto 0;
	}
	#main-content {
		margin: 0px auto;
		padding-top: 0;
	}
		.main-content {
			/*padding: 30px 0;*/
		}
}

@media screen and (max-width: 767px) {
	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
		margin: 0;
	}

	.promoban-block {
		float: none;
		width: 100%;
	}
	.promovideo-block {
		float: none;
		width: 100%;
		margin-top: 30px;
	}

}
@media screen and (max-width: 680px) {

	.navbar-fixed-top {
		height: initial;
	}
	.container-fluid .nav.pull-right {
		height: initial;
		width: 100%;
		max-height: 0;
		overflow: hidden;
		transition: all 0.4s ease-in;
	}
	.container-fluid .nav.pull-right.opened {
		max-height: 300px; 
	}
	.container-fluid .nav.pull-right li {
		display: block;
		float: none;
	}	
}

@media screen and (max-width: 430px) {
	
	#sidebar {
	}
	.navbar-fixed-top {
		height: 100px;
	}
	.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
		height: 100px;	
	}
	.nav.pull-left.landing_select, .nav.pull-left.top_menu_mobile {
		margin: 12px auto 0;
		display: block;
		width: 80%;
	}
	.nav.pull-left.landing_select .dropdown, 
	.nav.pull-left.top_menu_mobile .dropdown {
		margin: 0 auto;
	} 
	

}

@media screen and (min-width: 1090px) {
	.settings-col:nth-child(odd) {
		margin-left: 0;
	}
	.settings-col:nth-child(even) {

	}
	.settings-col:nth-child(3) {
		margin-right: 100px;
	}
	.settings-col.update-block {
		/*margin-left: 100px;*/
		margin-left: 0px;
		margin-bottom: 0;
	}
}



@media screen and (min-width: 1290px) {
	.settings-col:nth-child(2) {
		margin-right: 100px;
	}
	.settings-col:nth-child(3) {
		/*margin-left: 110px;*/
	}
}
@media screen and (min-width: 1445px) {
	.settings-col:nth-child(2) {
		margin-right: 0;
	}
	.settings-col:nth-child(3) {
		margin-left: 100px;
		margin-right: 90px;
	}
}

@media screen and (min-width: 1910px) {
	.row-fluid .update-block {
		margin-bottom: 0;
		margin-top: 0;
	}
}