
.ref_header {
	position: relative;
}

.edit_data {
	border-radius: 3px;
	color: #FFF;
	position: absolute;
	right: 0;
	font: normal 16px 'Open Sans';
	padding: 10px;
	background: #3C8DBC;
	text-decoration: none;
}
.edit_data:hover {
	background: #367FA9;
	color: #FFF;
}
.nots {
    background-color: #3c8dbc;
    border-radius: 10px;
    color: #FFF;
    margin-left: 4px;
    padding: 2px 8px 2px 6px;    
}


/* ============ форма редактирования данных пользователя ====== */
#user-form {
	background: #FFF;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	padding: 10px;
	overflow: hidden;
}
	.button_save {
		overflow: hidden;
	}
		.button_save .btn {
			position: static;
			margin-top: 15px;
			font: normal 16px 'Open Sans'; 
		}
	#user-form .row {
		margin: 10px 10px 0 0;
		width: 50%;
	}	
	#user-form .row label {
		color: #444;
		width: 35%;
		display: inline-block;
	}
		#user-form .row input,
		#user-form .row select {
			width: 220px;
			border: 1px solid #cccccc;
			background-color: #ffffff;
			display: inline-block;
			height: 20px;
			padding: 4px 6px;
			margin-bottom: 10px;
			font-size: 14px;
			outline: none;
			line-height: 20px;
			color: #555555;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 2px;
			vertical-align: middle;
		}
		#user-form .row input:focus,
		#user-form .row select:focus {
			border: 1px solid #367FA9;
		}
		#user-form .row select {
			height: 30px;
			width: 235px;
		}
		#user-form .row input {
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			-webkit-transition: border linear .2s, box-shadow linear .2s;
			-moz-transition: border linear .2s, box-shadow linear .2s;
			-o-transition: border linear .2s, box-shadow linear .2s;
			transition: border linear .2s, box-shadow linear .2s;
		}
		.errorMessage {
			color: #EA301C;
			font-size: 11px;
			width: 100%;
			margin-bottom: 10px;
		}



/* ================== Grid View ================= */
.items {

}	
	.items .odd {
		background: #A11;
		color: #000;
	}
	.items .even {
		background: #111;
		color: #000;
	}
#month_button {
	background: #3C8DBC;
	border-radius: 2px;
	color: #FFF;
	display: inline-block;
	padding: 5px 10px;
	margin: 15px 0 22px;
	text-decoration: none;
}
#month_button.this {
	position: relative;
	bottom: 10px;
	margin: 0 0 10px;
}

#month_button:hover {
	background: #357CA5;
}

.small-box:hover {
	color: #111;
}

/* ============== Статистика =============== */
.pay_type {
	color: #444;
	font-size: 17px;
	margin: 10px 0 20px;
}
h3.month_header {
	background-color: #67A3C5;
	color: #FFF;
	cursor: pointer;
	text-align: left;
	font-size: 17px;
	margin-bottom: 0;
	margin-top: 15px;
	padding: 10px;
}
.month_header.open {
	background-color: #3c8dbc;
	color: #FFF;
}

.month_header + .month_stat {
	display: none;
}
.month_header.open + .month_stat {
	display: table;
}
.month_stat {
	margin-bottom: 30px;
	width: 100%;
}
	.day {
		margin-bottom: 2px;
	}
	.stat_row {
		overflow: hidden;
		display: table-row;
		width: 100%;
	} 
	.stat_header {
		font-weight: 600;
	}
		.stat_row div {
			border-top: 1px solid #eee;
			display: table-cell;
			padding: 10px;
		}
.month_total {
	background-color: #eee;
	overflow: hidden;
}

/* ================== Рекламные материалы =====================*/
.commercial {
	background: #FFF;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	box-sizing: border-box;
	padding: 10px;
	color: #111;
	overflow: hidden;
}
	.commercial h3 {
		margin: 0 0 15px 0;
	}
	.commercial h4 {
		margin: 10px 0;
	}
	.commercial .banner {
		margin-bottom: 20px;
		margin-top: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #DDD;
	}
		.commercial .banner h5 {
			margin: 5px;
		}
		.commercial .banner textarea {
			border-radius: 3px;
			height: 200px;
			display: block;
			margin-top: 10px;
			padding: 10px;
			border: 1px solid #DDD;
			outline: none;
			width: 95%;
		}

/* ================= Новости ================== */
.article {
	padding: 0 10px;
}
	.article h1{
		font-size: 32px;
		margin: 10px 0 0 0;
	}		
	.article address{
		color: #AAA;
		font-size: 13px;
	}		
	.text {
		margin-top: 40px;
	}
		.text h2 {
			margin: 15px 0;
		}
		.text p {
			margin: 6px 0;	
		} 

.empty {
	color: #000;
}
.grid-view table.items {
	width: 98%;
}
.grid-view table.items th {
	background: #3c8dbc;
}
.grid-view table.items tr.selected {
	background: #ECFBD4;
}
.grid-view table.items tr.selected:hover {
	background: #ECFBD4;
}
.grid-view table.items tbody tr.extra:hover {
    background: #DDD;
}
h3.stat_header {
	margin: 10px 0 0;
}
.grid-view table.items tr.extra {
	background: #DDD;
	border-bottom: 15px solid #FFF;
}
.grid-view table.items tr.extra:last-child {
	border-width: 1px;
}
.grid-view table.items tr.extra + tr.even {
	background: #E5F1F4;
}
.iconNews {
	background: url(../img/news.png) no-repeat;
	background-position: 50% 100%;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-bottom: -6px;
}
.iconAds {
	background: url(../img/rek.png) no-repeat;
	background-position: 50% 80%;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-bottom: -6px;
}
.row.buttons {
	margin-bottom: 8px;
	margin-top: 8px;
}