@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400,500,600,700&subset=latin,cyrillic-ext,cyrillic);

* {
	box-sizing: border-box;
	color: #3a4453;
	font-family: 'Open Sans';
}
html {
	background: #F0F3F7;
	height: 100%;
	min-height: 100%;
}
body {
	background: #F0F3F7;
	height: 100%;
	min-height: 100%;
}
h5 {
	color: #576675;
	font: 600 19px 'Open Sans';
	margin: 0;
}
a {
	color: #778799;
	font: 400 14px 'Open Sans';
}
a:focus {
	text-decoration: none;
}
label {
	color: #8694a4;
	display: block;
	font: 400 15px "Open Sans";
	margin: 5px 0 7px;
}
p {
	color: #3a4453;
}
.inline-block {
	display: inline-block;
}
.block {
	background-color: #FFF;
	box-shadow: 2px 0px 6px rgba(139, 157, 175, 0.1);
	padding: 25px 30px 30px;
	border-radius: 2px;
}
.block.next-block {
	margin-top: 40px;
}
.table-row {
	margin-bottom: 50px;
}
.underlist-button {
	margin-top: 13px;
}
.underlist-button.underlist-button-inline {
	display: inline-block;
	margin-right: 10px;
}
.text-block {
	margin-top: 30px;
}
.grid-view .empty {
	font-style: normal;
}
.successMessage.info {
	color: #FFF;
	font: 400 18px 'Open Sans';
	margin: 15px 0;
	border-radius: 5px;
	padding: 10px 25px;
	background: #74d078;
	border: 1px solid #63bb67;
}

/* ===*===*===*=== левое меню ===*===*===*=== */
#sidebar {
	background: #FFF;
	height: calc( 100% - 90px - 30px );
	left: 30px;
	box-shadow: 0px 0px 6px rgba(139,157,175,0.1);
	overflow: auto;
	position: fixed !important;
	top: 90px;
	width: 240px;
	z-index: 3;
}
.for-logo {
	background-color: #FFF;
	height: 66px;
	text-align: center;
	padding: 15px 10px 15px 0;
	width: 303px;
}
.logo {
	color: #3bace2;
	display: block;
	width: 237px;
    margin-top: -6px;
	text-align: center;
	font: 600 26px 'Calibri';
	text-decoration: none;
	letter-spacing: 0.1px;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;
	text-transform: uppercase;
}
.logo img {
	display: inline-block;
	width: 151px;
}

.clear {
	clear: both;
}
#menu {
	list-style: none;
	margin: -2px 0 0 0;
}
#menu a {
	color: #3A4453;
	display: block;
	padding: 14px 0 14px 20px;
	font: 300 15px 'Open Sans';
	width: 100%;
	vertical-align: top;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;
}
#menu a svg {
	width: 18px;
	height: 18px;
	margin-right: 5px;
	margin-bottom: -3px;
}
#menu a .nots {
	padding-left: 5px;
}
#menu a .nots::after {
	display: none;
}
#menu .item-news svg {
	margin-bottom: -4px;
}
#menu .active a,
#menu .active a:hover {
	color: #FFF;
	background-color: #38b1eb;
}
#menu li a:hover {
	background-color: #f8f9fb;
	text-decoration: none;
}
#menu li a:active {
	color: #FFF;
	background-color: #38b1eb;
}
#menu li a svg rect, #menu li a svg polygon, #menu li a svg path, #menu li a svg .fill, #menu li a svg .stroke {
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;
}
#menu li a:active svg rect, #menu li a:active svg polygon, #menu li a:active svg path {
	fill: #FFF;
}
#menu li a:active svg .fill, #menu li.active a svg .fill {
	fill: #FFF;	
}
#menu li a:active svg .stroke, #menu li.active a svg .stroke {
	stroke: #FFF;
}
#menu li a:active svg rect.no-fill,
#menu li a:active svg polygon.no-fill, 
#menu li a:active svg path.no-fill,
#menu li.active a svg rect.no-fill,
#menu li.active a svg polygon.no-fill, 
#menu li.active a svg path.no-fill {
	fill: rgba(0,0,0,0);
}
#menu li.active a svg rect, #menu li.active a svg polygon, #menu li.active a svg path {
	fill: #FFF;
}






#menu li.item-profit rect, #menu li.item-profit polygon, #menu li.item-profit path {
	fill: #68bd6c;
}
#menu li.item-adv rect, #menu li.item-adv polygon, #menu li.item-adv path {

}
#menu li.item-news rect, #menu li.item-news polygon, #menu li.item-news path {
	color: #ea904e;
}
#menu li.item-offers rect, #menu li.item-offers polygon, #menu li.item-offers path {

}
#menu li.item-settings rect, #menu li.item-settings polygon, #menu li.item-settings path {
	color: #FF5E56;
}
.menu-profit {
	display: block;
	border-radius: 3px;
	line-height: 1;
	margin-top: 14px;
	margin-left: 10px;
	border: 1px solid #d0d5dc;
	color: #697887;
	padding: 7px 12px 6px;
	overflow: hidden;
	white-space: nowrap;
	background: #fff;
	font: 400 13px 'Open Sans';
}
#menu .item-vk a, #menu .item-email a, #menu .item-skype a {
	padding-left: 47px;
	position: relative;
}
#menu .item-vk a:before, #menu .item-email a:before, #menu .item-skype a:before {
	content: '';
	background-color: #3bace2;
	border-radius: 10px;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 23px;
	top: 20px;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;
}
#menu .item-vk a:active:before, #menu .item-email a:active:before, #menu .item-skype a:active:before {
	background-color: #FFF;
}
#menu .item-email a:before {
	background-color: #63bb67;
}
#menu .item-skype a:before {
	background-color: #ea904e;
}
#menu .submenu a {
	color: #3a4453;
}
#menu .submenu a svg {
	width: 14px;
	height: 14px;
}
.accordion_mnu {
	border-top: 2px solid #f0f3f7;
}
.accordion_mnu a i {
	background-position: 0 0;
	height: 30px;
	width: 30px;
}
.icon-pencil {
	background-image: url( ../images/icons/icon-edit.png );
	background-position: 0 0;
	height: 18px;
	width: 18px;
	margin-right: 15px;
}
.icon-trash {
	background-image: url( ../images/icons/icon-delete.png );
	background-position: 0 0;
	height: 18px;
	width: 18px;
}
.icon-landings {
	background-image: url( ../images/icons/Landings.svg );
	background-size: 20px 20px;
}
.icon-clients {
	background-image: url( ../images/icons/Clients.svg );
	background-size: 20px 20px;
}
.icon-partners {
	background-image: url( ../images/icons/Partners.svg );
	background-size: 20px 20px;
}
.icon-landings {
	background-image: url( ../images/icons/Landings.svg );
	background-size: 20px 20px;
}
.icon-landings {
	background-image: url( ../images/icons/Landings.svg );
	background-size: 20px 20px;
}
.accordion_mnu .icon-lists {
	background-image: url( ../images/icons/icon-lists.png );
}
.accordion_mnu .icon-persons {
	background-position: 0px 2px;
	background-image: url( ../images/icons/icon-persons.png );
}
.accordion_mnu .icon-plus {
	background-position: 0px 2px;
	background-image: url( ../images/icons/icon-plus.png );
}
.accordion_mnu .icon-portfolio {
	background-image: url( ../images/icons/icon-portfolio.png );
}
.accordion_mnu .icon-cam {
	background-position: 0px 4px;
	background-image: url( ../images/icons/icon-cam.png );
}
.accordion_mnu .icon-news {
	background-image: url( ../images/icons/icon-news.png );
}
.accordion_mnu .icon-dollar {
	background-image: url( ../images/icons/icon-dollar.png );
}

/* ===*===*===*=== верхнее меню ===*===*===*=== */
.navbar-fixed-top, .navbar-fixed-bottom {
	z-index: 3;
	/*display: none;*/
	height: 60px;
	box-shadow: 0px 0px 6px rgba(139,157,175,0.1);
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	border: none;
	box-shadow: none;
	background: #FFF;
	min-height: 60px;
	padding-left: 40px;
	padding-right: 40px;
}
.top-nav {
	height: 100%;
}
.navbar .nav.landing_select {
	margin-top: 14px;
	height: auto;
}
#landing_select {
	border-color: #d0d5dc;
	color: #7b8997;
	width: auto;
	height: 32px;
	padding-right: 20px;
}
.container-fluid {
	height: 100%;
}
.container-fluid .nav {
	height: 100%;
}
.container-fluid .nav li {
	height: 100%;
}
.container-fluid .nav li a,
.container-fluid .nav li span {
	color: #3A4453;
	display: block;
	height: 100%;
	padding: 20px;
	font: 300 15px 'Open Sans';
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;
}
.container-fluid .nav li span{
	cursor: default;
}
.container-fluid .nav li a:focus {
}
.container-fluid .nav li a:hover {
	background-color: #f8f9fb;
	text-decoration: none;
}
.container-fluid .nav li a:active {
	color: #FFF;
	background-color: #38b1eb;
}
.container-fluid .nav li a svg,
.container-fluid .nav li span svg {
	width: 22px;
	vertical-align: bottom;
}
.container-fluid .nav li a svg rect, 
.container-fluid .nav li a svg polygon, 
.container-fluid .nav li a svg path {
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;
}
.container-fluid .nav li a:active svg rect, .container-fluid .nav li a:active svg polygon, .container-fluid .nav li a:active svg path {
	fill: #FFF;
}
.container-fluid .nav li.active a {
	background-color: #38b1eb;
	box-shadow: none;
	color: #FFF;
}
.container-fluid .nav li.active a:hover {
	background-color: #38b1eb;
	box-shadow: none;
	color: #FFF;
}
.nots {
	background-color: #5fc564;
	border-radius: 3px;
	color: #FFF;
	position: relative;
	font: 600 14px 'Open Sans';
	padding: 4px 7px;
	margin-right: 10px;
}
.nots:after {
	content: "";
	position: absolute;
	right: -5px;
	top: 9px;
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-left: 6px solid #5fc564;
	border-bottom: 4px solid transparent;
}

/* ===*===*===*=== главное содержимое ===*===*===*=== */
#main-content {
	padding-top: 60px;
	margin-left: 270px;
}
.breadcrumbs {
	background-color: #f0f3f7;
	padding: 25px 60px 20px;
}
.breadcrumbs, .breadcrumbs a, .breadcrumbs span {
	color: #778799;
	font: 400 14px 'Open Sans';
}
.main-content {
	background-color: #f0f3f7;
	padding: 30px;
	text-align: initial;
}

/* ===*===*===*=== таблицы ===*===*===*=== */
.grid-view {
	overflow-x: auto;
	padding: 15px 0;
}
#main-content table {
	border: none;
	width: 100%;
	table-layout: fixed;
}
#main-content th {
	background: #3bace2;
	background-image: url(/img/header_border.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;
	background-size: 2px 50%;
	border: none;
	cursor: default;
	font: 400 14px 'Open Sans';
	padding: 15px 20px;
	position: relative;
	text-align: left;
}
#main-content th:last-child {
	background-image: none;
}
#main-content .purple th {
	background: #8877a9;
}
#main-content .darkblue th {
	background: #67809F;
}
#main-content .red th {
	background: #dc5f59;
}
#main-content .orange th {
	background: #FF9148;
}
#main-content .green th {
	background: #63bb67;
}


#main-content .filters td {
	padding: 8px 20px 8px;
}
#main-content .filters input {
	border-color: #d0d5dc;
	padding-bottom: 3px;
	margin-bottom: 0;
}
/* Фокус на полях ввода */
#main-content .filters input:focus{
	border-color: #3bace2;
}
#main-content .purple .filters input:focus{
	border-color: #8877a9;
}
#main-content .darkblue .filters input:focus {
	border-color: #67809F;
}
#main-content .red .filters input:focus {
	border-color: #dc5f59;
}
#main-content .orange .filters input:focus {
	border-color: #FF9148;
}
#main-content .green .filters input:focus {
	border-color: #63bb67;
}




#main-content tr .notification-id-col {
	width: 100px;
}
#main-content th {
	color: #FFF;
}
#main-content th a {
	color: #FFF;
	cursor: default;
	font: 600 14px 'Open Sans';
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;
}
#main-content th a:hover {
	/*color: rgba(0,0,0,0.3);*/
}

/* #main-content th:after {
	background-color: rgba(0,0,0,0.14);
	content: "";
	position: absolute;
	right: 0;
	top: 30%;
	height: 20px;
	width: 2px;
} */
#main-content th:last-child:after {
	width: 0;
}
#main-content th:first-child {
	border-radius: 4px 0 0 4px;
}
#main-content th:last-child {
	border-radius: 0 4px 4px 0;
}
#main-content tr {
	background: (0, 0, 0, 0);
	border: none;
}
#main-content .has-filter tr:nth-child(odd) td {
	background: #f0f3f7;
}
#main-content .has-filter tr:nth-child(even) td {
	background: #FFF;
}
#main-content tr:nth-child(odd) td {
	background: #FFF;
}
#main-content tr:nth-child(even) td {
	background: #f0f3f7;
}
#main-content tr.filters input, #main-content tr.filters select {
	width: calc(100% - 27px);
}
#main-content td {
	border: none;
	color: #8694a4;
	font: 600 14px 'Open Sans';
	padding: 13px 20px 11px;
	position: relative;
}
#main-content td:after {
	background-color: #e0e4ea;
	content: "";
	position: absolute;
	right: 0;
	top: 30%;
	height: 20px;
	width: 2px;
}
#main-content td:last-child:after {
	width: 0;
}
#main-content td a {
	color: #8694a4;
	font: 600 14px 'Open Sans';
}
#main-content td a.btn {
	color: #FFF;
	font-weight: 400;
}
#main-content td:first-child {
	border-radius: 4px 0 0 4px;
}
#main-content td:last-child {
	border-radius: 0 4px 4px 0;
}
#main-content td:only-child {
	border-radius: 4px;
}
.land_icon {
	width: 50px;
}
.grid-view .pager {
	margin-top: 26px;
}
.pager .previous > a, .pager .previous > span {
	float: none;
}
ul.yiiPager a, ul.yiiPager a:link, ul.yiiPager a:visited {
	background: #b9c4cf;
}
ul.yiiPager .page a, ul.yiiPager .next a, ul.yiiPager .previous a {
	color: #FFF;
	border: none;
	border-radius: 2px;
	font: 400 14px 'Open Sans';
	padding: 2px 8px 3px;
	transition: all 0.25s ease;
}
ul.yiiPager .next a, ul.yiiPager .previous a {
	padding: 2px 14px 3px;
}
ul.yiiPager .next a {
	margin-left: 2px;
}
ul.yiiPager .previous a {
	margin-right: 2px;
}
ul.yiiPager .page a:hover, ul.yiiPager .next a:hover, ul.yiiPager .previous a:hover {
	background: #3bace2;
}
ul.yiiPager .page.selected a {
	font-weight: 400;
	background: #3bace2;
}
.purple ul.yiiPager .page a:hover, .purple ul.yiiPager .next a:hover, .purple ul.yiiPager .previous a:hover {
	background: #8877a9;
}
.purple ul.yiiPager .page.selected a {
	background: #8877a9;
}
.darkblue ul.yiiPager .page a:hover, .darkblue ul.yiiPager .next a:hover, .darkblue ul.yiiPager .previous a:hover {
	background: #67809F;
}
.darkblue ul.yiiPager .page.selected a {
	background: #67809F;
}
.red ul.yiiPager .page a:hover, .red ul.yiiPager .next a:hover, .red ul.yiiPager .previous a:hover {
	background: #dc5f59;
}
.red ul.yiiPager .page.selected a {
	background: #dc5f59;
}
.orange ul.yiiPager .page a:hover, .orange ul.yiiPager .next a:hover, .orange ul.yiiPager .previous a:hover {
	background: #FF9148;
}
.orange ul.yiiPager .page.selected a {
	background: #FF9148;
}
.green ul.yiiPager .page a:hover, .green ul.yiiPager .next a:hover, .green ul.yiiPager .previous a:hover {
	background: #63bb67;
}
.green ul.yiiPager .page.selected a {
	background: #63bb67;
}
#main-content .purple th {
	background: #8877a9;
}
#main-content .darkblue th {
	background: #67809F;
}
#main-content .red th {
	background: #dc5f59;
}
#main-content .orange th {
	background: #FF9148;
}
#main-content .green th {
	background: #63bb67;
}

/* ===*===*===*=== формы ===*===*===*=== */
.form-row {
	margin: 15px 0;
}
.form-block-header {
	color: #b9c4cf;
	font: 600 19px 'Open Sans';
	margin: 25px 0 30px;
}
span.required {
	color: #3aace2;
}
.errorMessage {
	color: #FF5E56;
	font-size: 13px;
}
input[type="file"] {
	position: relative;
	margin-top: 5px;
}
input[type="file"]:after {
	content: attr(data-header);
	cursor: pointer;
	background: #FFF;
	background-color: #FFF;
	border: 2px solid #8694a4;
	border-radius: 4px;
	color: #8694a4;
	display: block;
	padding: 0 6px;
	height: 30px;
	background: #EEE;
	left: 0;
	top: -6px;
	font-size: 14px;
	position: absolute;
}
article::before {
	content: attr(data-parent);
}
input[type="submit"], button, .btn {
	border: 1px solid transparent;
	background: #a4b2c1;
	background-color: #a4b2c1;
	border-radius: 2px;
	box-shadow: none;
	color: #FFF;
	font: 500 14px 'Open Sans';
	outline: none;
	padding: 10px 20px;
	text-shadow: none;
}
input[type="submit"]:hover, button:hover, .btn:hover {
	background: #a4b2c1;
	background-color: #a4b2c1;
	color: #FFF;
}
.btn.btn-success {
	background-color: #63bb67;
	background: #63bb67;
}
.btn.btn-success:hover, .btn.btn-success:focus, .btn.btn-success:active, .btn.btn-success.active, .btn.btn-success.disabled, .btn.btn-success[disabled] {
	background: #63bb67;
}
.btn.btn-primary {
	background-color: #3bace2;
	background: #3bace2;
}
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary.active, .btn.btn-primary.disabled, .btn.btn-primary[disabled] {
	background: #52bdf1;
}
.btn.btn-warning {
	background-color: #ea904e;
	background: #ea904e;
}
.btn.btn-warning:hover, .btn.btn-warning:focus, .btn.btn-warning:active, .btn.btn-warning.active, .btn.btn-warning.disabled, .btn.btn-warning[disabled] {
	background: #ea904e;
}
.btn.btn-danger {
	background-color: #FF5E56;
	background: #FF5E56;
}
.btn.btn-danger:hover, .btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger.active, .btn.btn-danger.disabled, .btn.btn-danger[disabled] {
	background: #FF5E56;
}
.submit-wrap {
	margin-top: 50px;
}
.submit {
	margin-top: 20px;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 5px 10px;
    border: 1px solid #dfe3e8;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 13px/normal "Open Sans", Helvetica, sans-serif;
    /* color: rgba(0,142,198,1); */
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #FFF;
    box-shadow: none;
    margin-bottom: 5px;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    width: calc(100% - 20px);
}
}
textarea:hover, input[type="text"]:hover, input[type="password"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="date"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, input[type="number"]:hover, input[type="email"]:hover, input[type="url"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="color"]:hover {
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus {
	border-color: #3aace2;
	box-shadow: none;
}
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
	cursor: default;
}
input[type="checkbox"], input[type="radio"] {
	position: relative;
	bottom: 2px;
	display: none;
}
input[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
	position: relative;
	padding-left: 35px;
	cursor: pointer;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	font-size: 1rem;
	-webkit-transition: .28s ease;
	-moz-transition: .28s ease;
	-o-transition: .28s ease;
	-ms-transition: .28s ease;
	transition: .28s ease;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}
input[type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
	width: 13px;
	height: 13px;
	display: inline-block;
	border: 1px solid #5fc564;
	border-radius: 2px;
	position: relative;
	margin-bottom: -1px;
}
input[type="checkbox"]:checked + label:before {
	content: "";
	height: 3px;
	position: absolute;
	width: 8px;
	top: 2px;
	left: 1px;
	border-left: 1px solid #5fc564;
	border-bottom: 1px solid #5fc564;
	transform: rotate(-50deg);
}
.for-standart {
	color: #52bdf1;
}
.for-extended {
	color: #5fc564;
}
.for-vip {
	color: #fe974b;
}

/* ===*===*===*=== статистика ===*===*===*=== */
.stats_block {
	height: 325px;
	overflow: hidden;
	position: relative;
}
#stats {
	position: relative;
}
.top_buttons {
	margin-bottom: 20px;
	position: relative;
}
.top_buttons button {
	color: #576675;
	font-weight: 400;
	background-color: #dee6f1;
}
.top_buttons button:hover {
	background-color: #D7E2F1;
}
.preloader {
	background: rgba(0, 0, 0, 0);
	border-style: solid;
	border-width: 0;
	border-left-width: 3px;
	border-color: #111;
	border-radius: 30px;
	display: none;
	width: 30px;
	height: 30px;
	position: absolute !important;
	left: 50%;
	top: 40%;
	z-index: 11;
	-webkit-animation: load 1.4s infinite linear;
	animation: load 1.4s infinite linear;
}
.preloader_wrap {
	border-radius: 4px;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background: #111;
	opacity: 0.4;
}
.top_buttons .current_range {
	background-color: #3bace2;
	background: #3bace2;
	color: #FFF;
}
.top_buttons .current_range:hover {
	background-color: #3bace2;
	background: #3bace2;
}
.input-daterange {
	background-color: #ffffff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	display: none;
	top: 30px;
	left: 0;
	padding: 10px;
	position: absolute;
	width: 352px;
	z-index: 5;
}
.input-daterange .range {
	width: 100px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 5px;
	margin-top: 0;
	margin-bottom: 0;
	border-radius: 1px;
}
.input-daterange .range_start {
	border-radius: 2px;
	margin-right: 2px;
}
.input-daterange .range_end {
	border-radius: 2px;
	margin: 0 5px;
}
#show_range, #table_show_range {
	background: #eeeeee;
	border: 1px solid #ccc;
	color: #000;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 5px 10px;
	width: 85px;
	margin-bottom: 0;
	font-size: 13px;
}
.datepicker {
	position: absolute;
}
#chart {
	float: left;
	height: 250px;
	overflow: hidden;
	width: 100%;
}
#tooltip {
	background-color: #445061;
	border-radius: 3px;
	color: #FFF;
	display: none;
	font: 600 14px 'Open Sans';
	padding: 3px 6px;
	position: absolute;
}
#tooltip:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
#tooltip:after {
	border-color: rgba(68, 80, 97, 0);
	border-top-color: #445061;
	border-width: 5px;
	margin-left: -5px;
}
#tooltip:before {
	border-color: rgba(68, 80, 97, 0);
	border-top-color: #445061;
	border-width: 9px;
	margin-left: -9px;
}
.table_top_buttons {
	margin: 60px 0 35px;
}
.statistics-head {
	margin-bottom: 23px;
}
.stats_row:nth-child(even) {
	background-color: #f0f3f7;
}
.stats_row.stats_header {
	background-color: #3bace2;
	background: #3bace2;
	border-radius: 4px;
}
.stats_row.stats_header p {
	color: #FFF;
} 
.stats_row {
	color: #7b8898;
	font: 400 14px 'Open Sans';
	padding: 15px 0;
}
.month_header {
	background-color: #dee6f1;
	color: #576675;
	cursor: pointer;
	font: 400 14px 'Open Sans';
	padding: 15px 20px;
	border-radius: 4px;
}
.month_header:hover {
	background-color: #e9eff6;
}
.month_header.opened {
	background-color: #3bace2;
	color: #FFF;
	font-weight: 500;
}
.month_stat {
	display: none;
}
.month_header.opened + .month_stat {
	display: block;
}
.total_month_stat.month_stat {
	display: block;
	font: 500 14px 'Open Sans';
	background-color: #63bb67;
	border-radius: 4px;
	margin-top: 10px;
}
.total_month_stat.month_stat p {
	color: #FFF;
}
.stats_row p {
	border-right: 2px solid rgba(0, 0, 0, 0.15);
	width: 19%;
	display: inline-block;
	padding: 0 15px;
	margin: 0;
	vertical-align: top;
}
.stats_row p:last-child {
	border-right: none;
}

.update-block {
}
.update-block p {
	color: #8694a4;
	font: 400 15px 'Open Sans';
}
#has-update-check {
	background-color: #dee6f1;
	color: #576675;
	font: 400 14px 'Open Sans';
	margin-bottom: 10px;
}
.redactor-toolbar {
	background: #f7f9fb;
	border: 1px solid #d0d5dc;
	border-bottom: none;
	border-radius: 2px 2px 0 0;
	box-shadow: none;
}
.redactor-editor {
	border-radius: 0 0 2px 2px;
	border-color: #d0d5dc;
}
.data-block .row-fluid {
	margin-bottom: 15px;
}
.banner-block {
	margin-bottom: 30px;
}
.banner-block .row-fluid {
	margin-top: 10px;
}
.banner-block textarea {
	height: 100px;
}
.modal {
	display: none;
}
.modal .modal-content {
	padding: 15px;
}
.commercial-left {
	margin-right: 80px;
}
.commercial-left,
.commercial-right {
	display: inline-block;
	width: 470px;
	vertical-align: top;
}

.commercial-right {
	margin-top: 25px;
}

.commercial-videos-block {
	margin-bottom: 25px;
}
.commercial-video-block {
	margin-bottom: 15px;
}
.commercial-block input[type="text"],
.commercial-block textarea {
	cursor: default;
	width: 300px;
}
.commercial-block input[type="text"]:hover,
.commercial-block textarea:hover {
	border-color: #3bace2;
}
.commercial-block textarea {
	border-radius: 4px;
	border: 2px striped #CFD6DC;
	height: 130px;
	resize: none;
}
.commercial-block button {
	float: right;
	height: 32px;
	padding: 0;
	width: 135px;
}
.commercial-block label a {
	color: #3bace2;
	margin-left: 12px;
}
.no-adblock {
	padding: 5px;
	background: rgb(229,229,229); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	font-size: 14px;
	position: relative;
	text-align: center;

}
.no-adblock div {
	position: absolute;
	top: 50%;
	transform: translateY( -50% );
}
.banner-block a:hover {
	text-decoration: none;
}
.copy_button.zeroclipboard-is-hover {
	background: #52bdf1;
}




.btn-offer {
	height: 45px;
	width: 120px;
}



.pseudo-table {
	display: table;
	width: 100%;
}
.pseudo-table .pseudo-table-head {
	display: table-header-group;
}
.pseudo-table .pseudo-table-body {
	display: table-row-group;
}
.offers-items .pseudo-table-head {
}

.pseudo-table .pseudo-table-head span,
.pseudo-table .pseudo-table-body div span {
	display: table-cell;
	/*display: inline-block;*/
	box-sizing: border-box;
	padding: 15px;
}
.pseudo-table .pseudo-table-head span {
	background-image: url(/img/header_border.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;
	background-size: 2px 50%;
	background-color: #00AEE5;
	height: 45px;
	color: #FFF;
}
.pseudo-table .pseudo-table-head span:first-child {
	border-radius: 4px 0 0 4px;
}
.pseudo-table .pseudo-table-head span:last-child {
	border-radius: 0 4px 4px 0;
	background-image: none;
}
.pseudo-table .pseudo-table-body div {
	height: 45px;
	margin-top: 10px;
	display: table-row;
}
.pseudo-table .pseudo-table-body div > span {
	border-top: 15px solid #FFF;
	box-sizing: border-box;
	background-image: url(/img/header_border.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;
	background-size: 2px 50%;
	background-color: #EEF3F6;
	height: 60px;
	padding: 12px 15px;
	vertical-align: top;
}
.pseudo-table .pseudo-table-body div > span:first-child {
	background-image: url(../img/offers-left-bg.jpg);
	background-position: 0 0;
	background-size: 4px 100%;
}
.pseudo-table .pseudo-table-body div > span:first-child:after {
	content: '';
	width: 2px;
	height: 100%;
	position: absolute;
	right: 0;
	top:0;
	background-image: url(/img/header_border.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;
	background-size: 2px 50%;
}
.pseudo-table .pseudo-table-body div > span:nth-last-child(2) {
	border-radius: 0 5px 5px 0;
	background-image: url(../img/offers-right-bg.jpg);
	background-position: 100% 0;
	background-size: 15px 100%;
}
.pseudo-table .pseudo-table-body div >span:last-child {
	background: none;
	padding: 0;
}

.off-land {
	width: calc(40% - 120px);
	position: relative;
}

.off-vip {
	width: 14%;
}
.off-ext {
	width: 14%;
}
.off-st {
	width: 14%;
}
.off-click {
	width: 14%;
}
.off-action {
	width: 120px;
}




.span4_5 {
	width: 340px;
}
#user-form {
	margin-bottom: 0;
}
.setting_block {
	margin-bottom: 17px;
}
/* .setting_block:last-child {
	margin-bottom: 0;
} */
.setting_block label {
	margin-bottom: 9px;
}
.setting_block input, .setting_block select {
	width: 298px;
	margin-bottom: 0;
}
.setting_block input[type="submit"] {
	margin-top: 30px;
	width: 115px;
}
.setting_block .dropdown {
	width: 320px;
}

.warn {
	background-color: #FFFBF8;
	border: 1px dotted #FF9148;
	border-radius: 3px;
	color: #FF9148;
	font-size: 13px;
	margin-top: 13px;
	padding: 20px;
	position: relative;
}
.warn:before {
	background-color: #FFFBF8;
	border: 1px dotted #FF9148;
    border-right: none;
    border-bottom: none;
	color: #FF9148;
	content: "";
	height: 12px;
	left: 20px;
	position: absolute;
	top: -7px;
	width: 12px;
	transform: rotate(45deg);
}
.warn a {
	font-size: 12px;
}





/* ============ footer ================ */

footer.block {
	color: #8694a4;
	padding: 10px 20px;
	font: 300 14px 'Open Sans';
	margin: 0 auto;
	height: 40px; 
	margin-top: 30px;
	margin-bottom: -30px;
    position: relative;
    z-index: 3;
}





@media screen and (max-width: 1089px) {
	.settings-col {
		display: block;
		margin: 0 auto 30px;
		margin-left: 0;
	}

	.index-table table {
		table-layout: initial;
	}
	.index-table table tr td,
	.index-table table tr th {
		width: initial;	
	}

}


@media (max-width: 979px) {
	
	.navbar-fixed-top {
		margin-bottom: 0;
	}
	#main-content {
		padding-top: 0;
	}
	.navbar-fixed-top {
		height: 120px;
	}


}

@media screen and (max-width: 900px) {
	body {
		padding: 0;
	}
	.navbar-fixed-top {
		position: static;
		margin: 0 0 40px 0;
	}
	#sidebar {
		height: initial;
		width: 100%;
		margin: 0 auto;
		position: static !important;
		text-align: center;
		width: calc(100% - 80px);
	}
		#sidebar ul {
			padding: 0 5px;
		}
			#sidebar ul li {
				display: inline-block;
				vertical-align: top;
			}
				#sidebar ul li a {
					padding-right: 20px;
				}
	#main-content {
		margin: 5px auto;
	}
		.main-content {
			/*padding: 30px 0;*/
		}
}
@media screen and (max-width: 767px) {

}
@media screen and (max-width: 680px) {
	#mob-menu-trigger {
		display: block;
	}
	.navbar-fixed-top {
		height: initial;
	}
	.container-fluid .nav.pull-right {
		height: initial;
		width: 100%;
		max-height: 0;
		overflow: hidden;
		transition: all 0.4s ease-in;
	}
	.container-fluid .nav.pull-right.opened {
		max-height: 300px; 
	}
	.container-fluid .nav.pull-right li {
		display: block;
		float: none;
	}	
}

@media screen and (max-width: 535px) {
	.for-logo {
		padding-right: 10px 0
	}
}

@media screen and (min-width: 1090px) {
	.settings-col:nth-child(odd) {
		margin-left: 0;
	}
	.settings-col:nth-child(even) {

	}
	.settings-col:nth-child(3) {
		margin-right: 100px;
	}
	.settings-col.update-block {
		/*margin-left: 100px;*/
		margin-left: 0px;
	}
}



@media screen and (min-width: 1290px) {
	.settings-col:nth-child(2) {
		margin-right: 100px;
	}
	.settings-col:nth-child(3) {
		/*margin-left: 110px;*/
	}
}
@media screen and (min-width: 1445px) {
	.settings-col:nth-child(2) {
		margin-right: 0;
	}
	.settings-col:nth-child(3) {
		margin-left: 100px;
		margin-right: 90px;
	}
}

@media screen and (min-width: 1910px) {
	.row-fluid .update-block {
		margin-bottom: 0;
		margin-top: 0;
	}
}

@media (max-width:1600px) {
	.table-row {
		margin-bottom: 0;
	}
	.table-row .span6 {
		width: 100%;
		margin-left: 0;
		margin-bottom: 30px;
	}
	.table-row .span6:last-child {
		margin-bottom: 0;
	}
}